# {{ ansible_managed }}
# {{ ansible_only }}
#  Listen for connections on all interfaces (both IPv4 *and* IPv6)
agentAddress udp:161

rocommunity pp24 {{ snmp_allowed }}
rocommunity pp24 127.0.0.1

#Info
sysLocation    {{ snmp_location }}
sysContact     {{ snmp_contact }}
